nav { 
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    background-color:#8dae93;

    /* Navigation background/box model */
}
ul {
    
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    margin: 0;
    margin-left: 0;

    /* This is the Unordered List Box model style. */

}
li {
    display: inline-block;
    background-color: white;
    border: 1px solid green;
    font-weight: bold;
    width: 120px;
    list-style-type: none;
    padding: 8px 15px 8px 8px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 5px;
    text-align: center;


    /* List or main Nav-bar style, in box model, vertical navigation menu/bar. */
}
a {
    text-decoration: none;
    color: #19331e;
    
    /* To remove Link on the Nav-bar text. Tried putting this under li; but didn't work. 06/22/2025 */

}
li:hover {
    background-color: #8bd999;

    /* To highlight the list/navbar when hovered */
}
a:hover {
    background-color: #8bd999;

    /* To change and highlight the navigation link when hovered. */
}




    









