* {
    margin: 0;
    padding: 0;
}
nav {
    background-color: #8dae93;
    height: 55px;

    /* Navigation background/box model */
}
ul li {
    
    list-style-type: none;
    margin: 15px;
    margin-right: 5px;
    padding: 3px 0px 5px 0px;
    display: inline-block;
    border: 1px solid darkgreen;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    width: 120px;
    list-style-type: none;
    text-align: center;

    /* This is the Unordered List Box model style. */

}
a {
    text-decoration: none;
    color: black;
    
    /* To remove Link on the Nav-bar text. Tried putting this under li; but didn't work. 06/22/2025 */

}
li:hover {
    background-color: #8bd999;

    /* To highlight the list/navbar when hovered */
}
a:hover {
    background-color: #8bd999;

    /* To change and highlight the navigation link when hovered. */
}




    









