* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    font-family: 'Verdana';
    line-height: 1.5;
}
/* About Me page styling */
.grid {             /* About Page style- for the grid container */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 0.2fr 0.5fr 0.1fr;
    gap: 5px;
    padding: 50px 5%;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: lightgrey;
    max-width: 1200px;
    margin-bottom: 50px;

}
h1 {
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
}
.image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 5px solid #3b5940;
    background-color: whitesmoke; 
    padding: 12px;

}
.me, .q {
    grid-column: 2;
    margin: 10px;
    padding: 20px;
    font-size: 1.2rem;

}
.q {
    grid-column: 1 /4;
    font-family:"Quintessential", serif;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    font-size: 1.3rem;
}
.education {
    grid-row: 3;
    grid-column: 1 / 4;
    font-size: 1.2rem;
    line-height: 1.7;
    margin-left: 35px;
    padding: 10px;
}
.education > p {
    font-weight: bolder;
}
#eList {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3rem;

}
#resume {
    grid-column: 1 / 4;
    border: 2px solid #3b5940;
    background-color: #caeec2;
    width: 150px;        
    padding: 10px 20px;    
    text-align: center;
    margin: 20px auto;
}
.videocv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #fdefb2;
    margin: 20px 30px;
    padding: 50px 5%;
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 50px;
  
}
.videocv > h4 {
    margin-top: 0;
    padding: 10px;

} 
.aboutfooter {          /* about page footer */
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-image: url("images/sufyan-unsplash.jpg"); /*footer background image */ 
    background-size: cover;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14pt;
    color: #ffffff;
}

/* Zoom-in icons in the footer when hovered */
.icon {
  transform-origin: center center;
  transition: transform .25s, visibility .25s ease;

}
.icon:hover {
   transform: scale(1.5);
}
 
/* styling for index page /Home page */
.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
#welcome {
    color:#3b5940;       /* This color can be coded with rgb(59, 89, 64)  */
    margin-top: 20px;
    font-family: cursive;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}
#mls {
    margin-top: 20px;
    text-align: center;
}
.pp {
    margin-top: 50px;
    font-size: 1.2rem;
}

.homefooter {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-image: url("images/bgfooterfinal.png"); /*footer background image-created through Canva */
    background-size: cover;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14pt;
    font-family: 'Arial';
    color: #ffffff;

}
.icon {     /* styling footer icons */
    height: 1.3em;
    vertical-align: middle;
    margin-right: 5px;
}
/* template footer-activity styling */
.tempFooter {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #8dae93;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16pt;
    color: #19331e;
}
.icon {     /* styling footer icons */
    height: 1.3em;
    vertical-align: middle;
    margin-right: 5px;
}
/* Reflection Page styling */
.reflectBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}
div.a p:first-of-type::first-letter { 
    font-family: cursive; 
    font-size: 160%; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  /* Added this style based on researching and W3C lessons */
} 
#reflection {
    background-color: #dedede;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 30px 20px;
}
#reflection p {
    line-height: 1.8;
}
#LB, #NB, #LA {
    margin-top: 10px;
}
.b, .c, .d {
    text-indent: 50px;
    margin-top: 10px;
}

.ref-footer {          /* reflection footer */
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #3b5940;
    color: #ffffff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* media query */
@media screen and (max-width: 850px) {
    .grid {         /* This is for the About Page */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }
    .image {
        justify-content: center;
        align-items: center;
        padding: 0px;
        max-width: 100%;
        height: 100%;
        background-color: transparent;
    }
    #resume {
        order: 5;
        width: fit-content;
        align-self: center;
    }
    .homefooter {
        position: absolute;
        font-size: 1.2rem;
    }
    .flexbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
    .reflectBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 900px;
        margin: 0 auto;
        padding: 10px;
}    
    
}
@media screen and (max-width: 640px) {
    .grid {         /* About Page styling (phone) */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .me, .education, .q, #resume {
        width: 90%;
        margin: 0;
        padding: 15px;
    }
    .image {
        order: 1;
    }
    .me {
        order: 2;
        font-size: 1.4rem;
    }
     .q {
        order: 3;
        font-weight: bolder;
        font-size: 1.4rem;
        background-color: beige;
    }
    .education {
        order: 4;
        padding: 20px;
        font-size: 1.4rem;
        margin-top: 20px;
    }
    #eList {
        font-size: 1.4rem;
        line-height: 1.6;
    }

    #resume {
        order: 5;
        width: fit-content;
        align-self: center;
        font-weight: bolder;
        font-size: 1.4rem;
    }
    .aboutfooter {
        position: relative;
        font-size: 1rem;
    }
    .videocv iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        max-width: 100%;
    }
    .flexbox {  /* styling for index/home page */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
    #mls {
        font-size: 1.4rem;
        background: lightgray;
    }
    .pp {
        padding: 10px;
        line-height: 1.6;
        font-size: 1.4rem;
        margin-bottom: 30px;
    }
    .homefooter {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #3b5940;
        color: #ffffff;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
}
    .reflectBox {       /* Reflection Page */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 90%
}    
    #reflection {
        background-color: beige;
        margin-bottom: 30px;
        box-sizing: border-box;
        padding: 20px 20px;
        font-size: larger;
}
    #reflection p {
        line-height: 1.8;
    }
    #LB, #NB, #LA {
        margin-top: 10px;
    }
    .b, .c, .d {
        text-indent: 50px;
        margin-top: 10px;
    }
    .ref-footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #3b5940;
        color: #ffffff;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
}
/* Print page media query */
@media print {
    * {
        background: none;
        color: black;
    }
    nav, .image, #resume {
        display: none;
    }
    h1, .me, .q, .education, .aboutfooter {
        font-family: 'Georgia', serif;
        margin: 0;
        padding: 0;
        width: 100%;
        line-height: 1.2;
    }
    .q {
        margin-top: 20px;
    }
    .education {
        margin-top: 50px;
    }
   .grid {
        display: block;
   }
   #eList {
    font-family: "Josefin Sans", sans serif;
    line-height: 1.2;
   }
   .aboutfooter {
    font-size: larger;
    position: fixed;

   }
   @page {
        margin: 1in;
   }
   .icon {
    display: none;
   }
   .videocv {
    display: none;
   }
}
